@import "../utils/base";

body {
    font-family: $open-sans;
    background-color: $light;
    color: $dark;
    font-size: 16px;
}

.wrapper {
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: grid;
}

.header {
    padding: 0 20px;
    padding-top: 80px;
    margin-bottom: 120px;

    .wrapper {
        grid-template-columns: minmax(0, 280px) minmax(0, 1fr);
        gap: 10rem;
        padding-top: 50px;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 280px;
            height: 3px;
            background-color: $dark;
        }

        .heading {
            font-family: $roboto;
            font-size: 2.25rem;
            font-weight: 700;
        }

        .copy {
            width: 350px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.4;
        }
    }
}

.services {
    padding: 0 20px;
    padding-bottom: 80px;
    .wrapper {
        grid-template-columns: minmax(0, 340px) minmax(0, 340px) minmax(0, 340px);
        gap: 16px;
    }

    &__card {
        position: relative;
        width: 100%;
        height: 420px;
        background-color: #ffffff;
        overflow: hidden;
        cursor: pointer;
        transition: 250ms;

        &:nth-child(3n) {
            top: 120px;
        }

        &:nth-child(3n-1) {
            top: 60px;
        }

        .big_title {
            font-family: $roboto;
            font-size: 220px;
            font-weight: 900;
            white-space: nowrap;
            transform: translateX(105px);
            color: transparent;
            -webkit-text-stroke: 2px $light;
        }

        .content {
            position: absolute;
            bottom: 0;
            padding: 0 30px 30px 30px;
            font-family: $open-sans;

            &::before {
                content: "";
                position: absolute;
                top: -40px;
                left: 30px;
                display: block;
                width: 4px;
                height: 4px;
                background: transparent;
                border: 2px solid $dark;
                opacity: 0.8;
            }

            .small_title {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .copy {
                display: flex;
                align-items: flex-end;
                column-gap: 16px;

                p {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1.5;
                    opacity: 0.6;
                }

                .icon {
                    img {
                        width: 20px;
                    }
                }
            }
        }

        &:hover {
            background-color: $dark;

            .big_title {
                color: #ffffff;
                -webkit-text-stroke: 0 $light;
                animation: slideInFromRight 22s ease-in;
            }

            .content {
                color: #ffffff;
                &::before {
                    background: #ffffff;
                    border: 2px solid #ffffff;
                }

                .copy {
                    .icon {
                        img {
                            filter: invert(100%);
                        }
                    }
                }
            }
        }
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(105px);
    }
    to {
        transform: translateX(-1000%);
    }
}
